
* {
    box-sizing: border-box;
}

.navbar-brand {
    margin: 0px;
}

.menu-item {
    background-color: #eeeeee;
    padding: 30px 20px;
}

.menu-title {
    font-size: 20px;
    padding: 0px 0px 10px 0px;
}

.menu-description {
    font-style: italic;
}

.menu-box {
    margin: 0px;
    padding: 5px;
}

#main-menu li {
  background-color: #ddddff;
  border: 1px solid black;
}

.end-section {
    font-style: normal;
    font-size: 0.9em;
    margin-top: 20px;
}

.end-section > a {
    color:#ff0000;
    padding-left: 20px;
}

/* LG */
@media (min-width: 1200px) {
  .menu-box {
      padding: 30px;
  }
}


/* MD */
@media (min-width: 992px) and (max-width: 1199px) {
  .menu-box {
      padding: 20px;
  }

}

/* SM */
@media (min-width: 768px) and (max-width: 991px) { 
  .menu-box {
      padding: 10px;
  }
}

/* XS */
@media (max-width: 767) {
  .menu-box {
      padding: 7px;
  }
}

