a[ui-sref]:hover {
  cursor: pointer;
  decoration: none;
  font-style: italic;
}

wait {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.active {
   color: midnightblue;
   font-weight: bolder;
}
