
<div ng-if='!foundctrl.showProgress' class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div ng-if="foundctrl.myTitle" class="panel panel-heading">{{foundctrl.myTitle}}</div>
      <div ng-repeat="item in foundctrl.foundItems" class="panel-body panel-info">
         <div class="panel panel-body">
            <span>{{($index) + 1}}: {{item.name | uppercase }}</span>
            <span class='badge'>{{item.short_name}}</span>
            <div class='description'> {{item.description | uppercase}} </div>

           <button class="btn btn-primary" ng-click='foundctrl.onRemove({index:$index})'>
              <span class="glyphicon glyphicon-remove"></span>
              Don't want {{item.name}}!
           </button>
         </div>
      </div>
      <div ng-if="foundctrl.showResume" class="alert {{foundctrl.getAlertClass()}}">
         {{foundctrl.getAlertText()}}
      </div>
    </div>
  </div>
</div>

<div ng-if='foundctrl.showProgress' class='alert alert-info'>
   <span class='glyphicon glyphicon-refresh glyphicon-spin wait'></span>
   <div class='wait'> Processing... WAIT!</div>
</div>
