<!doctype html>

<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
   <body ng-app='NarrowItDownApp'>
      <div class="container" ng-controller='NarrowItDownController as narrowctrl'>
        <h1>Narrow Down Your Chinese Menu Choice</h1>
        <div class="row">
           <div class="form-group">
                 <input type="text" placeholder="search term" class="form-control" ng-model='narrowctrl.searchTerm'>
                 <button class="btn btn-primary" ng-click='narrowctrl.search(narrowctrl.searchTerm)'>Narrow It Down For Me!</button>
                 <button class="btn btn-warning" ng-click='narrowctrl.clear()'>Clear</button>
           </div>
         <div class="row">
            <!-- found-items should be implemented as a component -->
            <found-items title="{{narrowctrl.title}}" found-items="narrowctrl.foundItems" is-searching="narrowctrl.isSearching"
             on-remove="narrowctrl.onRemove(index)">
            </found-items>
        </div>
     </div>

   </body>
</html>
