
<div class="panel panel-info">
  <div class='panel-heading'>
     {{$ctrl.theItem.name | uppercase }}
     <span class='badge'>{{$ctrl.theItem.short_name}}</span>
  </div>
  <div ng-if='$ctrl.theItem.description.trim() !== ""'>
     <div class="panel-body">
    {{$ctrl.theItem.description}}
  </div>
  </div>
  <div class="panel-footer">
     Prices:
     <ul>
     <li ng-if='$ctrl.theItem.price_large != null'>
        <span>{{$ctrl.theItem.price_large | currency : 'US$ '}}</span>
        <span ng-if='$ctrl.theItem.large_portion_name != null'> - {{$ctrl.theItem.large_portion_name}}</span>
     </li>
     <li ng-if='$ctrl.theItem.price_small != null'>
        <span>{{$ctrl.theItem.price_small | currency : 'US$ '}}</span>
        <span ng-if='$ctrl.theItem.small_portion_name != null'> - {{$ctrl.theItem.small_portion_name}} </span>
     </li>
  </div>
</div>
